@import "tailwindcss";

@theme {
  /* Accent */
  --color-accent: #0084FF;

  /* Decorate */
  --color-decorate-blue-light: #93E1F4;
  --color-decorate-blue: #80C1FF;
  --color-decorate-blue-dark: #60A5E1;

  /* Backgrounds */
  --color-surface-blue-light: #F5FDFF;
  --color-surface-white: #FBFFFF;
  --color-surface-blue-dark: #4DC5F1;

  /* Text */
  --color-primary: #4A4F5B;
  --color-secondary: #858585;

  /* Breakpoints */
  --breakpoint-xs: 25rem;

  --animate-float: float 4s ease-in-out infinite;

  @keyframes float {
    0%, 100% { transform: translate(0, 0); }
    25% { transform: translate(5px, -5px); }
    50% { transform: translate(-5px, 5px); }
    75% { transform: translate(5px, 5px); }
  }

  --animate-delay-1: 1s;
  --animate-delay-2: 2s;
  --animate-delay-3: 3s;
}